@model DnD_Between.Models.CharacterViewModel

@{
    ViewData["Title"] = "Detail";

    int ConfigureByTable(int score)
    {
        int[] tableX1 = { 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30 };      //Even scores
        int[] tableX2 = { 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31 };      //Odd scores
        int[] tableY = { -5, -4, -3, -2, -1, 0, +1, +2, +3, +4, +5, +6, +7, +8, +9, +10 };  //Modifier values

        //Ability modifiers are assigned directly from a table.
        int result = 0;
        for (int i = 0; i < tableY.Length; i++)
        {
            if (score == tableX1[i])
            {
                result = tableY[i];
            }
            else if (score == tableX2[i])
            {
                result = tableY[i];
            }
        }
        return result;
    }

    int ConfigureProf(int level)
    {
        int prof = 2;
        if (level >= 17)
        {
            prof = 6;
        }
        else if (level >= 13)
        {
            prof = 5;
        }
        else if (level >= 9)
        {
            prof = 4;
        }
        else if (level >= 5)
        {
            prof = 3;
        }

        return prof;
    }
}

<div class="container">
    <div class="character_hero">
        <div class="character_hero-overlay"></div>
        <div class="character_hero-content">
            <div class="row">
                <h1 class="col-1 character_avatar">😁</h1>
                <h2 class="col-5">@Model.Name</h2>
                <h3 class="col-2">LVL: @Model.Level</h3>
                <h3 class="col-2">@Model.Class</h3>
                <h3 class="col-2">@Model.Race</h3>
            </div>
        </div>
    </div>
    <div class="row quick_info">
        <div class="col-1">
            <div class="border border-3  border-danger rounded">
                <span class="ability-summary__label">STRENGTH</span>
                <h3>@ConfigureByTable(@Model.Str)</h3>
                <div>@Model.Str</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-3 border-danger rounded">
                <span class="ability-summary__label">DEXTERITY</span>
                <h3>@ConfigureByTable(@Model.Dex)</h3>
                <div>@Model.Dex</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-3 border-danger rounded">
                <span class="ability-summary__label">CONSTITUTION</span>
                <h3>@ConfigureByTable(@Model.Con)</h3>
                <div>@Model.Con</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-3 border-danger rounded">
                <span class="ability-summary__label">INTELLIGENCE</span>
                <h3>@ConfigureByTable(@Model.Int)</h3>
                <div>@Model.Int</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-3 border-danger rounded">
                <span class="ability-summary__label">WISDOM</span>
                <h3>@ConfigureByTable(@Model.Wis)</h3>
                <div>@Model.Wis</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-3 border-danger rounded">
                <span class="ability-summary__label">CHARISMA</span>
                <h3>@ConfigureByTable(@Model.Cha)</h3>
                <div>@Model.Cha</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-2 border-danger rounded">
                <span class="ability-summary__label">PROFICIENCY</span>
                <h3>+@ConfigureProf(@Model.Level)</h3>
                <div>bonus</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-2 border-danger rounded">
                <span class="ability-summary__label">WALKING</span>
                <h3>@Model.Speed</h3>
                <div>SPEED</div>
            </div>
        </div>
        <div class="col-1">
            <div class="border border-2 border-danger rounded">
                <h2 class="text-white">0</h2>
            </div>
            <span class="inspo_label">INSPIRATION</span>
        </div>
        <div class="col-3">
            <h2>HP INFO</h2>
        </div>
    </div>
    <br />

    <div class="subsections">
        <div class="saving-throws">
            <div class="border border-3 border-danger rounded">
                <div class="row">
                    <div class="col-6 row">
                        <div class="col-8">
                            strength
                        </div>
                        <div class="border border-3 border-danger rounded col-4">
                            +@ConfigureByTable(@Model.Str)
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-8">
                            strength
                        </div>
                        <div class="border border-3 border-danger rounded col-4">
                            +@ConfigureByTable(@Model.Str)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 row">
                        <div class="col-8">
                            strength
                        </div>
                        <div class="border border-3 border-danger rounded col-4">
                            +@ConfigureByTable(@Model.Str)
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-8">
                            strength
                        </div>
                        <div class="border border-3 border-danger rounded col-4">
                            +@ConfigureByTable(@Model.Str)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 row">
                        <div class="col-8">
                            strength
                        </div>
                        <div class="border border-3 border-danger rounded col-4">
                            +@ConfigureByTable(@Model.Str)
                        </div>
                    </div>
                    <div class="col-6 row">
                        <div class="col-8">
                            strength
                        </div>
                        <div class="border border-3 border-danger rounded col-4">
                            +@ConfigureByTable(@Model.Str)
                        </div>
                    </div>
                </div>
                <span>Saving throws </span>
            </div>
        </div>
        <div class="sences">
            <div class="border border-3 border-danger rounded">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="border border-3 border-danger rounded col-2">
                        12
                    </div>
                    <div class="col-9">
                        strength
                    </div>
                </div>
            </div>
        </div>
        <div class="div3"> </div>
        <div class="div4"> </div>
        <div class="div5"> </div>
        <div class="div6"> </div>
        <div class="div7"> </div>
        <div class="div8"> </div>
    </div>
</div>